<div class="task-conatiner">
  <div class="task-card">
    <p class="task-name">Task name</p>
    <span class="sub-headings">Assigned To</span>
    <div class="user-details">
      <span class="user-initials">TS</span>
      <span class="username">Username</span>
    </div>
    <div class="deadlines">
      <div>
        <span class="sub-headings">DUE ON</span>
        <span class="due-date">date</span>
      </div>
      <div>
        <span class="status">Status</span>
        <span class="status">Status</span>
      </div>
    </div>
  </div>
</div>
